.slde{
    height: 500px;
    width: 90%;
    margin: 0px 20px;
    padding: 8px;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(68, 74, 90),black)
}
.imgdv{
    width: 220px;
    height: 355px;
}
.imgs{
    border-radius: 5px;
    height: 100%;
    width: 80%;
    padding: 4px;
    background-color: black;
} 
@media only screen and (max-width: 900px) {
    .imgs{
        height: 90%;
        padding: 2px;
        width: 90%;
  } } 


